// flex 布局复用
@mixin flex($hov:space-between,$col:center) {
    display: flex;
    justify-content: $hov;
    align-items: $col;
}

a.fullfill {
    img {
        width: 100%;
        height: 100%;
    }
}